@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Roboto+Serif&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    transition: .4s all ease-in-out;
    font-family: 'Roboto Serif', serif;
}

.row{
    display: flex;
    // align-items: center;
    gap: 20px;
}

.btn__add{
    background: #4DD599;
    max-width: 200px;
    width:  100%;
    height: 37px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    &:hover{
        background: #41bb86;
    }
}

@import "form";
@import "aside";
@import "header";
@import "home";
@import "content";



